.main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: solid 1px #999;
    /*background-image: linear-gradient(rgba(160,160,160,0.9), rgba(117,116,124,1));*/
    background-color: rgba(204, 204, 204, 1);
}

header h1 {
    padding-left: 20px;
    font-size: 28px;
    margin: 0;
    line-height: 80px;
}

header .u-user {
    position: absolute;
    right: 20px;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 20px 10px 0;
}

.g-content {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 0;
    left: 0;
}

.g-content .m-main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.g-content .content-left {
    width: 240px;
    position: relative;
    background-color: #ccc;
}


/*
    content left
*/

.content-left h2 {
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
    color: #1d1f2b;
    background-color: #75747c;
}

.content-left .u-nav-container {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-left treecontrol li {
    line-height: 36px;
}

.g-content .content-right {
    flex: 1;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}


/*
    paginator
*/

.u-paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.u-paginator .pagination {
    margin: 0;
}

.u-paginator .u-pages {
    line-height: 40px;
    text-align: right;
    margin-right: 30px;
    font-size: 16px;
}

.u-paginator form {
    width: 120px;
}

.padding {
    padding: 12px;
}

.m-password .panel {
    margin-bottom: 0;
}

.message {
    word-break: break-all;
}


/*
input control
*/

.well .input-group .form-control {
    width: 100px;
}

.table th {
    text-align: center;
}

.agform-sm label {
    width: 100px;
    text-align: right;
    padding-right: 20px;
}

.upload_btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: -5px;
}

.upload_btn input {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
}

.noImg {
    width: 240px;
    height: 190px;
    position: relative;
    margin: auto;
    background: #ddd;
    margin-bottom: 20px;
}

.noImg:before {
    content: '暂无图片';
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
    font-weight: 700;
    font-family: '微软雅黑';
    color: #999;
}

.addGift input.form-control {
    width: 80px;
}

.table.clone {
    margin-bottom: 0;
}

.object {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    float: left;
    margin-right: 20px;
    margin-top: 65px;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
}

#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}

#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes object_one {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_one {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object_two {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

@-webkit-keyframes object_three {
    75% {
        -webkit-transform: scale(0);
    }
}

@keyframes object_three {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    z-index: 9998;
}

.loading .loading_icon {
    position: fixed;
    bottom: 50px;
    right: 100px;
}

.loading .loading_text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.warning {
    margin: 0 24px 10px 0;
}

.blink {
    position: relative;
    color: #0000ff;
    -webkit-animation: flash 2s infinite cubic-bezier(1, 0, 0.5, 0);
    animation: flash 2s infinite cubic-bezier(1, 0, 0.5, 0);
}

@-webkit-keyframes flash {
    0% {
        opacity: 1;
        color: #ff0000;
        font-size: 14px;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        color: #ff0000;
        font-size: 14px;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
        color: #ff0000;
        font-size: 14px;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: 1;
        color: #ff0000;
        font-size: 14px;
    }
}

input[type='checkbox'] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button[disabled]{
    color: #a8a8a8;
}
button[disabled] .text-info{
    color: #a8a8a8;
}
.outerworkline span {
    line-height: 37px;
    padding: 0 6px 0 0;
}
.outerworkline md-checkbox{
    margin-bottom: 0;
}
.outerworkline md-input-container{
    margin: 0 6px;
}
.outworkline>div>* {
    margin: 0 6px;
}
.modal-hg{
    width: 1200px;
}